[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=ClinicaFX
Comment=ClinicaFX
Icon=${SNAP}/clinicafx.png
Exec=clinicafx %F
Categories=Education;
Terminal=false
